{
    "*/**/*.{js,jsx,ts,tsx}": [
        "npm run lint:fix",
        "npm run prettier",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}